@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using UmbracoAssignment.ViewModels
@{
    var content = (ContentModels.AboutCallbackSection)Model.Content;
    var settings = Model.Settings as ContentModels.AboutCallbackSettings;
}

<section>
    <div class="container cto-container">
        
        <div class="cto-body">
            <div class="cto-body">
                @Html.Raw(content.AboutCallbackBody)
            </div>
        </div>

        <div class="cto-form shadow">
            <div class="cto-head form-head rte-bold">
                <p>@content.CallbackFormTitle</p>
            </div>

            <p class="form-desc">@content.CallbackFormDesc</p>

            <div class="form-container">
                <partial name="Partials/Forms/_CallbackForm" model="new CallbackFormViewModel()" />

                @if (TempData["FormSuccess"] != null)
                {
                    <div class="success-msg">
                        @TempData["FormSuccess"]
                    </div> 
                }
                else if (TempData["FormError"] != null)
                {
                    <div class="error-msg">
                        @TempData["FormError"]
                    </div>
                }

            </div>
        </div>
    </div>
</section>