@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.HeroSection)Model.Content;
}
@if (@content.HeroBgImg != null)
{
	<img class="hero-bg-img" src="@content.HeroBgImg.Url()" />
}
<div class="container ">
	<div class="hero-container">
		<h1 class="font-head">@content.HeroTitle</h1>

		@Html.Raw(content.HeroText)

		@if (content.HeroLink != null)
		{
			<a class="btn btn-contact" href="@content.HeroLink.Url">@content.HeroLink.Name</a>
		}

	</div>


</div>

