@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	var content = (ContentModels.ServiceSection)Model.Content;
	var settings = Model.Settings as ContentModels.ServiceSettings;

	var sectionColor = settings?.ServiceBgColor?.Color ?? "#fffffff";


	var current = Umbraco.AssignedContentItem;
	var siteRoot = current.Root();

	var servicePage = siteRoot?.Children<ServicePage>()?.FirstOrDefault();
	var items = servicePage?.Children<ServiceDetail>()?.OrderByDescending(x => x.CreateDate).ToList() ?? [];
}

<section class="bg-grey">
	<div class="container service-container">
		<div class="text-center">
			@if(settings!.ShowServiceLable)
			{
				<h2 class="font-badge">@content.ServiceLable</h2>
			}
			<div class="rte font-sub-l">@Html.Raw(content.ServiceTitle)</div>
		</div>



		<div class="card-container">

		 @if (items.Any())
			{
				@foreach(var item in items)
				{


					<a class="service-card" href="@item.Url()">
						<h4 class="service-head font-card-head">@item.Name</h4>
						<img class="service-img" src="@(item.ServiceDetalThumbnail?.Url() ?? "~/images/01.svg")" />
						<p class="service-text font-text">@item.ServiceDetailExcerpt</p>
					</a>
				}
			}
			else
			{
				<p>No services found</p>
			}

		</div>

	</div>
</section>